/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1vw;
  width: 100%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
/*HKEY_CURRENT_USER\Software\Microsoft\ Windows\CurrentVersion\Policies\Explorer

 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
ul,
menu,
dir {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
p {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
/* W3.css 4.10 February 2018 by Jan Egil and Borge Refsnes */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
progress {
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
figure {
  margin: 1em 40px;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
/* End extract */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxY.ttf) format('truetype');
}
/* css Document */
/* colors */
html {
  overflow-x: hidden;
}
body {
  background-color: #f6f3f3;
}
h1 {
  font-size: 4.24rem;
  line-height: 5rem;
  letter-spacing: 0.01em;
  margin: 0;
}
h2 {
  font-size: 4.25rem;
  letter-spacing: 0.01em;
}
h3 {
  font-size: 2.12rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  margin: 0;
}
h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.63rem;
  font-weight: bold;
  line-height: 1.63rem;
  letter-spacing: 0.01em;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: Baskerville, 'Libre Baskerville', serif;
  font-weight: 400;
}
p,
a,
li {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.63rem;
  line-height: 1.63rem;
  letter-spacing: 0.01em;
  font-weight: lighter;
  color: #545353;
}
header {
  margin: 0;
  padding: 27.57vw 0 0 0;
  width: 100rem;
  background-color: #f6f3f3;
}
header .nav-header {
  width: 100rem;
  height: 4.561rem;
  background: url("../img/header-bg.jpg") bottom center no-repeat;
  background-size: contain;
  box-sizing: border-box;
  border-top: solid 0.05vw white;
}
header .nav-header ul {
  width: 100rem;
  height: 4.561rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header .nav-header ul li {
  padding: 0.131rem 0 0 0;
  margin: 0 0 0 0;
  float: left;
  display: block;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}
header .nav-header ul li a {
  height: 4.43rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.17rem;
  line-height: 3.96rem;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding: 0.47rem 0 0 1.51rem;
  margin: 0;
  display: block;
  text-decoration: none;
  text-align: left;
  vertical-align: center;
  box-sizing: border-box;
}
header .nav-header ul li a.item-2:hover,
header .nav-header ul li a.item-3:hover,
header .nav-header ul li a.item-4:hover,
header .nav-header ul li a.item-5:hover {
  background: rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}
header .nav-header ul li .item-1 {
  width: 11.11rem;
}
header .nav-header ul li .item-2 {
  width: 15.93rem;
  background: rgba(255, 255, 255, 0.07);
}
header .nav-header ul li .item-3 {
  width: 19.78rem;
  background: rgba(255, 255, 255, 0.25);
}
header .nav-header ul li .item-4 {
  width: 23.37rem;
  background: rgba(255, 255, 255, 0.33);
}
header .nav-header ul li .item-5 {
  width: 15.1rem;
  background: rgba(255, 255, 255, 0.22);
}
header .nav-header ul li .item-6 {
  width: 14.68rem;
}
header .nav-header ul .home {
  background: url("../img/icon-home.svg") left 1.71rem top 1.579rem no-repeat;
  background-size: 1.2rem 1.14rem;
}
header .nav-header ul .contuct-us {
  background: url("../img/icon-envelop.svg") left 1.82rem top 1.579rem no-repeat;
  background-size: 1.2rem 1.14rem;
}
.section-di {
  width: 60rem;
  margin: 0 0 20rem;
  padding: 3.85rem 0 7rem 6.27rem;
  background: #f6f3f3;
  color: #545353;
}
.section-di ul {
  list-style: none;
  margin: 3.7rem 0 0;
}
.section-di ul li {
  display: inline-block;
  margin: 0 0.25rem 0 0;
}
.section-di ul li a {
  text-decoration: none;
  font-weight: bold;
}
.section-parallax-1 {
  width: 100%;
  height: 12rem;
  top: 16rem;
}
.section-parallax-1 img {
  width: 15.39rem;
  height: 11.97rem;
  position: absolute;
  right: 21.52rem;
  bottom: 7rem;
}
.section-pos {
  margin: 0;
  padding: 3.85rem 5.13rem 0 5.7rem;
  color: #545353;
}
.section-pos .left-section {
  width: 33.97rem;
  float: left;
  margin: -5rem 0 0 0;
  padding: 5rem 0 2rem;
  background: #f6f3f3;
}
.section-pos .left-section h2 {
  margin-bottom: 2.3rem;
}
.section-pos .left-section h4 {
  margin: 1.4rem 0 0.6rem;
}
.section-pos .left-section p {
  line-height: 2.09rem;
}
.section-pos .right-section {
  width: 51rem;
  float: right;
}
.section-pos .right-section img.pos-image {
  max-width: 100%;
  height: auto;
  box-shadow: 0.3rem 0.45rem 3rem rgba(0, 0, 0, 0.1);
  margin-top: 2.3rem;
}
.section-parallax-2 {
  width: 100%;
  height: 30rem;
  top: 10rem;
  background: url("../img/sign-04.svg") left 12.2rem top 8.26rem no-repeat, url("../img/sign-02.svg") right 8.55rem bottom no-repeat;
  background-size: 20rem, 5.55rem;
}
.section-iv {
  margin: 0rem 0 0;
  padding: 0 5.13rem 0 6.7rem;
  color: #545353;
}
.section-iv h2 {
  width: 28rem;
  text-align: center;
  margin: 0 auto 10rem;
  padding: 3rem 0;
  background: #f6f3f3;
}
.section-iv .left-section {
  width: 41.98rem;
  float: left;
  margin: 0;
  padding: 0;
  background-color: #f6f3f3;
}
.section-iv .left-section img {
  max-width: 100%;
  height: auto;
  box-shadow: 0.3rem 0.45rem 3rem rgba(0, 0, 0, 0.1);
}
.section-iv .right-section {
  width: 38.5rem;
  float: right;
  background: #f6f3f3;
  padding: 2rem 0 5rem;
  margin-top: -2rem;
}
.section-iv .right-section p {
  line-height: 2.09rem;
}
.section-iv .right-section ul {
  list-style: none;
  margin: 2.5rem 0 0;
}
.section-iv .right-section ul li {
  display: inline-block;
  margin: 0 0.5rem 0 0;
}
.section-iv .right-section ul li a {
  text-decoration: none;
  font-weight: bold;
}
.section-we-help {
  margin-top: 19.95rem;
  padding: 0;
  height: 45.61rem;
}
.section-we-help h2 {
  width: 34rem;
  margin-left: 19rem;
  padding: 3rem 0;
  background: #f6f3f3;
}
.section-online-training {
  padding: 0 7.98rem 0;
  margin-bottom: 10rem;
}
.section-online-training h2 {
  margin: 0 0 6.97rem 2.23rem;
  padding: 3rem 0;
  background: #f6f3f3;
}
.section-online-training .left-section {
  float: left;
  width: 27rem;
  background: #f6f3f3;
  padding-bottom: 3rem;
}
.section-online-training .left-section p {
  margin-top: 2.3rem;
  line-height: 2.09rem;
}
.section-online-training .left-section ul {
  list-style: none;
  margin: 2.5rem 0 0;
}
.section-online-training .left-section ul li {
  display: inline;
  margin: 0 0.5rem 0 0;
  line-height: 2.09rem;
}
.section-online-training .left-section ul li a {
  text-decoration: none;
  font-weight: bold;
}
.section-online-training .right-section {
  width: 55.01rem;
  float: right;
  margin: 0;
  padding: 0;
}
.section-online-training .right-section img {
  max-width: 100%;
  height: auto;
}
.section-parallax-3 {
  width: 100%;
  height: 20rem;
  top: 0rem;
  z-index: -1;
  background: url("../img/sign-01.svg") right 16.81rem bottom no-repeat;
  background-size: 4.9rem;
}
.section-video-production {
  margin-top: -10rem;
  padding: 0 7.69rem 0;
}
.section-video-production .bg-wrapper {
  width: 67rem;
  background: #f6f3f3;
  padding: 2rem 0 5.98rem 0;
}
.section-video-production h2,
.section-video-production p,
.section-video-production ul {
  margin: 0 0 0 14.5rem;
}
.section-video-production p {
  margin-top: 2.3rem;
  line-height: 2.09rem;
}
.section-video-production ul {
  list-style: none;
  margin-top: 2.5rem;
}
.section-video-production ul li {
  display: inline;
  margin: 0 0.5rem 0 0;
  line-height: 2.09rem;
}
.section-video-production ul li a {
  text-decoration: none;
  font-weight: bold;
}
.section-video-production img {
  width: 80.3rem;
  height: auto;
}
footer {
  height: 27.99rem;
  margin-top: 20.52rem;
  background-color: #252525;
  padding-top: 14rem;
}
footer .footer-wrapper {
  display: grid;
  grid-template-columns: 30rem 30rem;
  border-bottom: solid 1px white;
  width: 60rem;
  margin: 0 0 0 18.01rem;
  padding-bottom: 1.87rem;
}
footer p,
footer a {
  color: #ffffff;
  font-family: Baskerville, 'Libre Baskerville', serif;
  font-weight: normal;
  font-size: 1.87rem;
}
footer p {
  text-align: left;
}
footer a {
  text-align: right;
  text-decoration: none;
}
a.button-more {
  font-family: Baskerville, 'Libre Baskerville', serif;
  font-size: 1.75rem;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  color: #0072bc;
  display: block;
  width: 9.55rem;
  line-height: 3.47rem;
  border: solid 0.13rem #0072bc;
  box-sizing: border-box;
  box-shadow: 0.3rem 0.45rem 3rem rgba(0, 0, 0, 0.1);
  margin: 3.26rem 0 0;
}
.line-bg-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -3;
  display: grid;
  grid-template-columns: 11.11rem 15.93rem 19.78rem 23.37rem 15.1rem 14.68rem;
}
.line-bg-wrapper div {
  border-left: solid 1px #d3d1d1;
}
.a-q-bg {
  width: 100%;
  position: fixed;
  z-index: -2;
  top: 15.5rem;
  left: 27rem;
}
.a-q-bg img {
  width: 44.67rem;
  height: auto;
  text-align: center;
}
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
}
.parallax__layer {
  position: relative;
}
.parallax__layer--back {
  transform: translateZ(-0.5px) scale(1.5);
}
.parallax__layer--base {
  transform: translateZ(0);
}
.display-none {
  display: none;
}
img {
  vertical-align: middle;
}
