.container-1440{
  //width: 1440px;
  //margin: 0 auto;
  //position: relative;


  //font-size: 1vw;
  //background-color: @background-color;
}


header {
  margin: 0;
  height: 27.57vw;
  //padding: 27.57vw 0 0 0;
  width: 100%;
  background-color: @background-color;
  position: relative;
  z-index: -3;

  h3{
    width: 70%;
    margin: 0 auto;
    padding-top: 5%;
    display: block;
    text-align: center;
  }

  h3{
    .more-2560{
      font-weight: bold;
      color: red;
      display: none;
    }

    .less-2560{
      font-weight: bold;
      color: blue;
      display: inline;
    }

  }

}

.nav-header {
  width: 100%;
  padding-bottom: 64px;
  //padding-bottom: 4.43%;
  position: relative;
  background: url("../img/header-bg.jpg") bottom center no-repeat;
  background-size: cover;


  //height: 4.43vw;
  //height: 4.561vw;  for top border
  //background-size: contain;
  //box-sizing: border-box;
  //border-top: solid 0.05vw white;  for top border
  //background-color: red;

  ul {
    width: 100%;
    height: 100%;
    position: absolute;
    //height: 4.561vw; for top border
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      //padding: 0.131vw 0 0 0;
      height: 100%;
      margin: 0 0 0 0;
      float: left;
      display: block;
      border: none;

      a {
        height: 100%;
        width: 100%;
        padding: 0.601vw 0 0 1.51vw;
        padding-top: calc((64px - 1.17rem) / 3 * 2);
        margin: 0;
        font-family: @content-font;
        font-weight: bold;
        font-size: 1.17rem;
        line-height: 1.17rem;
        //line-height: 3.96rem;
        letter-spacing: 0.2em;
        color: #ffffff;
        display: block;
        text-decoration: none;
        text-align: left;
        vertical-align: center;


        //height: 4.43vw;
        //padding: 0.601vw 0 0 1.51vw;
        //padding: 0.47vw 0 0 1.51vw;


        //border: solid 1px red;
      }

    }

    .item-1 {
      width: 11.11%;
      a {
        background: url("../img/icon-home.svg") left 1.71vw center no-repeat;
        //background: url("../img/icon-home.svg") left 1.71vw top 1.579rem no-repeat;
        background-size: 1.2rem 1.14rem;
        background-position-y: calc((64px - 1.14rem) / 3 * 2);
      }
    }

    .item-2 {
      width: 15.93%;
      a {

        background: rgba(255, 255, 255, 0.07);
      }

    }

    .item-3 {
      width: 19.78%;
      a {

        background: rgba(255, 255, 255, 0.25);
      }

    }

    .item-4 {
      width: 23.37%;
      a {

        background: rgba(255, 255, 255, 0.33);
      }

    }

    .item-5 {
      width: 15.1%;

      a {

        background: rgba(255, 255, 255, 0.22);
      }
    }

    .item-6 {
      width: 14.68%;
      //width: 14.68rem;

      a {
        background: url("../img/icon-envelop.svg") left 1.82vw center no-repeat;
        //background: url("../img/icon-envelop.svg") left 1.82vw top 1.579vw no-repeat;
        background-size: 1.2rem 1.14rem;
        background-position-y: calc((64px - 1.14rem) / 3 * 2);
      }
    }

    .item-2 a:hover, .item-3 a:hover, .item-4 a:hover, .item-5 a:hover {
      background: rgba(255, 255, 255, 0.4);
      transition: 0.3s;
    }

  }

}

.section {

  &-di {
    width: 100%;
    margin: 0 0 20vw;
    padding: 3.85vw 0 7.00vw 6.27vw;
    color: @grey;
    position: relative;
    //border: solid 1px red;
    //box-sizing: border-box;
    //background: rgba(246, 243, 243, 1);

    .line-none-bg-wrapper {
      width: 100%;
      height: 30vw;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -3;
      display: grid;
      //grid-template-columns: 11.11rem 15.93rem 19.78rem 23.37rem 15.1rem 14.68rem;
      grid-template-columns: 11.11% 15.93% 19.78% 23.37% 15.1% 14.68%;


      div {
        //border-left: solid 1px red;
        border-left: solid 1px @background-color;

      }

      .col-5 {
        border-left: none;
      }

      .col-6 {
        border-left: none;
      }

    }

    ul {
      list-style: none;
      margin: 3.7vw 0 0;
      li {
        display: inline-block;
        margin: 0 0.25vw 0 0;

        a {
          text-decoration: none;
          font-weight: bold;
        }
      }
    }

  }

  &-parallax-1 {
    width: 100%;
    height: 12vw;
    top: 16vw;
    //top: 35.63rem;
    //background: url("../img/sign-03.svg") right 22.52rem bottom 3.99rem no-repeat;
    //background-size: 15.39rem 11.97rem;

    img {
      width: 15.39vw;
      height: 11.97vw;
      position: absolute;
      right: 21.52vw;
      //right: 22.52rem;
      bottom: 7vw;
    }

  }

  &-pos {
    width: 100%;
    margin: 0;
    padding: 3.85vw 5.13vw 0 5.7vw;
    color: @grey;
    position: relative;

    .line-none-bg-wrapper {
      width: 100%;
      height: 56vw;
      //height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -3;
      display: grid;
      grid-template-columns: 11.11% 15.93% 19.78% 23.37% 15.1% 14.68%;
      //grid-template-columns: 11.11rem 15.93rem 19.78rem 23.37rem 15.1rem 14.68rem;

      div {
        //border-left: solid 1px red;
        border-left: solid 1px @background-color;
      }

      .col-4, .col-5, .col-6 {
        border-left: none;
      }

    }

    .left-section {
      width: 33.97vw;
      float: left;
      margin: -5vw 0 0 0;
      padding: 5vw 0 2vw;
      //background: rgba(246, 243, 243, 1);

      h2 {
        margin-bottom: 2.30vw;
      }

      h4 {
        margin: 1.4vw 0 0.6vw;
      }

      p {
        line-height: 2.09rem;
        //margin-top: 2.30rem;
      }

    }

    .right-section {
      width: 51vw;
      float: right;

      img.pos-image {
        max-width: 100%;
        height: auto;
        box-shadow: 0.3rem 0.45rem 3rem rgba(0, 0, 0, 0.10);
        margin-top: 2.3vw;
      }

    }

  }

  &-parallax-2 {
    width: 100%;
    height: 30vw;
    top: 10vw;
    position: relative;
    background: url("../img/sign-04.svg") left 12.20vw top 8.26vw no-repeat, url("../img/sign-02.svg") right 8.30vw bottom no-repeat;
    background-size: 20.00vw, 5.55vw;

    //height: 33.63rem;
    //background: url("../img/sign-04.svg") left 13.59rem top 8.26rem no-repeat, url("../img/sign-02.svg") right 8.55rem top 27.65rem no-repeat;
    //background-size: 15.39rem 6.84rem, 5.55rem 5.7rem;

  }

  &-iv {
    width: 100%;
    margin: 0 0 0;
    padding: 0 5.13vw 0 6.7vw;
    color: @grey;
    position: relative;
    //margin: -7.4rem 0 0;

    .line-none-bg-wrapper {
      width: 100%;
      height: 27vw;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -3;
      display: grid;
      grid-template-columns: 11.11% 15.93% 19.78% 23.37% 15.1% 14.68%;
      //grid-template-columns: 11.11rem 15.93rem 19.78rem 23.37rem 15.1rem 14.68rem;

      div {
        //border-left: solid 1px red;
        border-left: solid 1px @background-color;
      }

      .col-2, .col-3, .col-4 {
        border-left: none;
      }

    }

    .title-wrapper {

      .line-none-bg-wrapper {
        width: 100%;
        height: 12.00vw;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;
        display: grid;
        grid-template-columns: 11.11% 15.93% 19.78% 23.37% 15.1% 14.68%;
        //grid-template-columns: 11.11rem 15.93rem 19.78rem 23.37rem 15.1rem 14.68rem;

        div {
          border-left: solid 1px @background-color;
        }

        .col-2, .col-3, .col-5, .col-6 {
          border: none;
        }

      }

      h2 {
        width: 28vw;
        text-align: center;
        margin: 0 auto 10vw;
        padding: 3vw 0;
        //background: rgba(246, 243, 243, 1);

      }

    }

    .left-section {
      width: 41.98vw;
      float: left;
      margin: 0;
      padding: 0;
      background-color: @background-color;

      img {
        max-width: 100%;
        height: auto;
        box-shadow: 0.3rem 0.45rem 3rem rgba(0, 0, 0, 0.10);
      }

    }

    .right-section {
      width: 38.5vw;
      padding: 2vw 0 5vw;
      margin-top: -2vw;
      float: right;
      //width: 41.33rem;
      //background: rgba(246, 243, 243, 1);

      p {
        line-height: 2.09rem;
        background: linear-gradient(to left, rgba(246, 243, 243, 0.70) 25%, rgba(246, 243, 243, 0) 25%, rgba(246, 243, 243, 0) 30%);

      }

      ul {
        list-style: none;
        padding: 2.5vw 0 0;
        //margin: 2.5rem 0 0;
        background: linear-gradient(to left, rgba(246, 243, 243, 0.70) 25%, rgba(246, 243, 243, 0) 25%, rgba(246, 243, 243, 0) 30%);

        li {
          display: inline-block;
          margin: 0 0.5vw 0 0;

          a {
            text-decoration: none;
            font-weight: bold;
          }
        }
      }

    }

  }

  &-we-help {
    width: 100%;
    margin-top: 19.95vw;
    padding: 0;
    height: 45.61vw;
    position: relative;

    .title-wrapper {

      .line-none-bg-wrapper {
        width: 100%;
        height: 12.00vw;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -3;
        display: grid;
        grid-template-columns: 11.11% 15.93% 19.78% 23.37% 15.1% 14.68%;
        //grid-template-columns: 11.11rem 15.93rem 19.78rem 23.37rem 15.1rem 14.68rem;
        overflow-y: visible;

        div {
          border-left: solid 1px @background-color;
        }

        .col-2, .col-5, .col-6 {
          border: none;
        }

      }

      h2 {
        width: 34vw;
        margin-left: 19.00vw;
        padding: 3vw 0;
        //background: rgba(246, 243, 243, 1);
      }

    }

  }

  &-online-training {
    width: 100%;
    padding: 0 7.98vw 0;
    margin-bottom: 10vw;
    position: relative;

    .line-none-bg-wrapper {
      width: 100%;
      height: 32vw;
      position: absolute;
      left: 0;
      bottom: 4vw;
      z-index: -3;
      display: grid;
      grid-template-columns: 11.11% 15.93% 19.78% 23.37% 15.1% 14.68%;
      //grid-template-columns: 11.11rem 15.93rem 19.78rem 23.37rem 15.1rem 14.68rem;

      div {
        //border-left: solid 1px red;
        border-left: solid 1px @background-color;
      }

      .col-4, .col-5, .col-6 {
        border: none;
      }

    }

    .title-wrapper {

      .line-none-bg-wrapper {
        width: 100%;
        height: 12.00vw;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;
        display: grid;
        grid-template-columns: 11.11% 15.93% 19.78% 23.37% 15.1% 14.68%;
        //grid-template-columns: 11.11rem 15.93rem 19.78rem 23.37rem 15.1rem 14.68rem;

        div {
          //border-left: solid 1px red;
          border-left: solid 1px @background-color;
        }

        .col-2, .col-3, .col-5, .col-6 {

        }

      }

      h2 {
        margin: 0 0 6.97vw 2.23vw;
        padding: 3vw 0;
        //background: rgba(246, 243, 243, 1);

      }

    }

    .left-section {
      float: left;
      width: 27.00vw;
      padding-bottom: 3vw;
      //width: 23.95rem;
      //background: rgba(246, 243, 243, 1);

      p {
        margin-top: 2.30vw;
        line-height: 2.09rem;
      }

      ul {
        list-style: none;
        margin: 2.5vw 0 0;

        li {
          display: inline;
          margin: 0 0.5vw 0 0;
          line-height: 2.09vw;

          a {
            text-decoration: none;
            font-weight: bold;
          }
        }
      }

    }

    .right-section {

      width: 55.01vw;
      float: right;
      margin: 0;
      padding: 0;

      img {
        max-width: 100%;
        height: auto;
      }

    }
  }

  &-parallax-3 {
    width: 100%;
    height: 20vw;
    top: 0;
    z-index: -1;
    background: url("../img/sign-01.svg") right 16.81vw bottom no-repeat;
    background-size: 4.90vw;
    //height: 51.31rem;

  }

  &-video-production {
    width: 100%;
    margin-top: -10vw;
    padding: 0 7.69vw 0;
    position: relative;
    //margin-top: -18.8rem;

    .line-none-bg-wrapper {
      width: 100%;
      height: 32vw;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -3;
      display: grid;
      grid-template-columns: 11.11% 15.93% 19.78% 23.37% 15.1% 14.68%;
      //grid-template-columns: 11.11rem 15.93rem 19.78rem 23.37rem 15.1rem 14.68rem;

      div {
        border-left: solid 1px @background-color;
      }

      .col-6 {
        border: none;
      }

    }

    .bg-wrapper {
      width: 67vw;
      padding: 2vw 0 5.98vw 0;
      //background: rgba(246, 243, 243, 1);
    }

    h2, p, ul {
      margin: 0 0 0 14.5vw;
      //margin: 0 0 0 15.1rem;
    }

    p {
      margin-top: 2.30vw;
      line-height: 2.09rem;
    }

    ul {
      list-style: none;
      margin-top: 2.5vw;

      li {
        display: inline;
        margin: 0 0.5vw 0 0;
        line-height: 2.09rem;

        a {
          text-decoration: none;
          font-weight: bold;
        }

      }
    }

    img {
      width: 80.3vw;
      height: auto;
      //margin-top: 5.98rem;
    }

  }

}

footer {
  height: 27.99vw;
  margin-top: 20.52vw;
  background-color: @footer-bg-color;
  padding-top: 14vw;

  .footer-wrapper {
    display: grid;
    grid-template-columns: 30vw 30vw;
    border-bottom: solid 1px white;
    width: 60vw;
    margin: 0 0 0 18.01vw;
    padding-bottom: 1.87vw;
  }

  p, a {
    color: @white;
    font-family: @title-font;
    font-weight: normal;
    font-size: 1.87rem;
  }

  p {
    text-align: left;
  }

  a {
    text-align: right;
    text-decoration: none;
  }

}

a.button-more {
  font-family: @title-font;
  font-size: 1.75rem;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  color: @button-color;
  display: block;
  width: 9.55vw;
  line-height: 3.47rem;
  border: solid 0.13vw @button-color;
  box-sizing: border-box;
  box-shadow: 0.3rem 0.45rem 3rem rgba(0, 0, 0, 0.10);
  margin: 3.26vw 0 0;
}

.line-bg-wrapper {
  width: 100%;
  //min-height: 438vw;
  height: 450vw;
  //position: fixed;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  display: grid;
  grid-template-columns: 11.11% 15.93% 19.78% 23.37% 15.1% 14.68%;
  //border: solid 1px red;
  //box-sizing: border-box;

  div {
    border-left: solid 1px #dfdfdf;
  }

  div:first-child {
    border-left: none;
  }

}

.a-q-bg {
  width: 100%;
  position: fixed;
  z-index: -2;
  //top: 35.5rem;
  top: 15.5vw;
  left: 27vw;

  //color: #f4f0ef; a-q color

  img {
    width: 44.67vw;
    height: auto;
    text-align: center;
  }
}

// START Parallax


.parallax {
  perspective: 1px;
  max-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: relative;
  //height: 100vh;
  //top: 0;
  //right: 0;
  //bottom: 0;
  //left: 0;
}

.parallax__layer--back {
  transform: translateZ(-0.5px) scale(1.5);
  //z-index: 3;

}

.parallax__layer--base {
  transform: translateZ(0);
  //z-index: 4;
}

// END Parallax

.container-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

//
//
//

.sticky {
display: block;
  position: sticky;
  position: -webkit-sticky;
  top: -0.2vw;
  //top: 4.561vw;
  z-index: 999;
}

/*
@supports ((position:sticky) or (position:-webkit-sticky)){
  .nav, .nav_fix{
    position: -webkit-sticky;
    position: sticky;
  }
}

*/


