@media only screen and (min-width: 1921px) {

  html {
    font-size: 0.65vw;
  }

  .line-bg-wrapper {
    height: 438vw;
  }

  .section {

    &-di {
      padding: 3.85vw 16vw 7.00vw;
      margin: 0 0 18vw;

      .line-none-bg-wrapper {
        height: 25vw;

      }

    }

    &-pos {
      margin: 0;
      padding: 3.85vw 16vw 0;

      .line-none-bg-wrapper {
        height: 36vw;

        .col-2, .col-4, .col-5, .col-6 {
          border-left: none;
        }

      }

      .left-section {
        width: 24vw;
        margin: -3vw 4vw 0 0;

        h2 {
          margin-bottom: 1.8vw;
        }

        h4 {
          margin: 1.3vw 0 0.6vw;
        }

      }

      .right-section {
        width: 40vw;
        height: 27.5vw;
      }

    }

    &-iv {
      padding: 0 16vw 0;

      .line-none-bg-wrapper {
        height: 20vw;

        .col-2, .col-5, .col-6 {
          border-left: none;
        }

      }

      .left-section {
        width: 60vw;

      }

      .right-section {
        width: 60vw;

      }

    }

    &-online-training {
      padding: 0 16vw 0;
      margin-bottom: 10vw;

      .line-none-bg-wrapper {
        height: 18vw;
        bottom: 10vw;

        .col-2, .col-4, .col-5, .col-6 {
          border: none;
        }

      }

      .left-section {
        float: left;
        width: 24.00vw;
        padding-bottom: 3vw;

        p {
          margin-top: 1.0vw;

        }

        ul {
          li {
            line-height: 2.2rem;
          }
        }

      }

      .right-section {

        width: 42vw;
      }

    }

    &-section-video-production {
      ul {
        li {
          line-height: 2.2rem;
        }
      }
    }

  }

}

