/* css Document */
@title-font: 'Libre Baskerville', serif;
@sign-font:  'Libre Baskerville', serif;
@content-font: 'Helvetica';



/* colors */
@white: #ffffff;
@grey: #545353;
@grey-sign: #464646;

@background-color: #f6f3f3;
@button-color: #0072bc;
@footer-bg-color: #252525;
